.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 393px;
    min-height: 853px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 16px;
    background-color: #ffffff;
}
 
.login-page__logo {
    display: block;
    height: 54px;
    width: auto;
    margin-top: 120px;
    margin-bottom: 60px;
}
 
.login-page__id {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-page__pw {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
 

.login-page__auto {
    width: 337px;
    height: 24px;
    margin-top: 8px;

}
 

.login-page__button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;
}
 

.login-page__links {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #14191f;
}
 
.login-page__divider {
    width: 1px;
    height: 13px;
    background-color: #d7dae0;
}

.login-page__links span {
    cursor: pointer;
}