.text-area {
  width: 361px;
  height: 146px;
  display: flex;
  
  align-items: flex-start; /* 위쪽 정렬 */
  border: 1px solid;
  border-radius: 12px;
  background-color: white;
  position: relative;
}

.text-count {
  position: absolute;
  right: 12px;
  bottom: 8px;
}

.text-area textarea {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  resize: none;
  margin-top: 16px;
  padding: 0 16px 36px 16px;
  box-sizing: border-box;

  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.text-area textarea::placeholder {
  color: #9CA3AF;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  opacity: 1;
}