.text-field {
  width: 337px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  border: 1px solid;
  
  padding: 0 12px;
}

.text-field-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.text-field-container p {
  margin: 0;

}

.text-field input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  font : 16px;
  padding-left: 4px;
}

.x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    border: none;
    background: none;
    border-radius: 50%;
}

.x-button:hover {
    cursor: pointer;
}

.x-button:active {
    transform: scale(0.8);
}

.label-button{
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: var(--Neutral-Border4, #F2F2F2);
  border-radius: 8px;
}

.label-button button {
  all: unset;
  cursor: pointer;
}

.label-button button:active{
  transform: scale(0.9);
}