.time-input{
  display:flex;
  width:100%;
  flex-direction:column;
  align-items:flex-start;
  gap:8px;
}

.time-input-block{
  display:flex;
  width:100%;
  align-items:center;
  gap:12px;
}

.time-input-block select{
  flex:1;
  height:50px;
  padding:0 12px;   /* 피그마: 안쪽 여백 12px, 높이 50px */
  box-sizing:border-box;
  border-radius:8px;
  color:#14191F;
  font-family:Pretendard;
  font-size:16px;
  font-style:normal;
  font-weight:400;
  line-height:24px;
  appearance:none;
}

.time-input-block p{
  margin:0;
  color:#14191F;
  font-family:Pretendard;
  font-size:16px;
  font-weight:400;
  line-height:24px;
}

.time-select-wrapper{
  position:relative;
  flex:1;
}

.time-select-wrapper select{
  width:100%;
}

.time-dropdown-arrow{
  position:absolute;
  display:flex;
  right:12px;
  top:50%;
  transform:translateY(-50%);
  pointer-events:none;
}